* {
  box-sizing: border-box;
}

.alert {
   padding: 0.8rem;
   margin: 1rem 0;
   opacity: 0.9;
   background: var(light-brown);
   color: #333;
 }

 .alert-danger {
   background: red;
   color: #fff;
 }